.nombre-contacto {
    color: #f5e1da;
}

.texto-contacto {
    color: #f5e1da;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff99cc;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #12816c;
    border: 1px solid #333333;
    border-radius: 5px;
}

th,
td {
    border: 1px solid #333333;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #127c5b;
}

tbody tr:nth-child(even) {
    background-color: #0d6a4a;
}

.tabla-vacio {
    border-left: none;
    border-right: none;
}