.borde-departamento {
    border: 1px solid #CCAA00;
    border-radius: 10px;
    width: auto;
    background-color: #ffd700;
    color: #6b2c80;
}

@media (max-width: 992px) {
  .borde-departamento {
      margin-left: 5%;
      margin-right: 5%;
  }
  h2 {
    margin-top: 5%;
  }
}

/* Estilos para personalizar el select */
.custom-select {
    padding: 8px 12px;
    border: 1px solid #CCAA00;
    border-radius: 5px;
    background-color: #ffd700;
    color: #6b2c80;
    font-size: 16px;
    width: auto;
    cursor: pointer;
  }
  
  /* Estilos para personalizar las opciones */
  .custom-select option {
    background-color: #ffd700; /* Color de fondo */
    color: #6b2c80; /* Color del texto */
    padding: 8px 12px; /* Ajusta el espaciado interior */
  }