/* Estilo para el nombre de la directora */
.directora-nombre {
    font-size: 2.5rem;
    color: #043408;
    margin-bottom: 10px;
}

/* Estilo para el saludo de la directora */
.directora-saludo {
    font-size: 1.2rem;
    color: #6f9387;
}

/* Estilo para la imagen de la directora */
.directora-imagen {
    border: 2px solid #043408;
}

.columna {
    border-right: 1px solid #043408;
    padding-left: 5% !important;
}

/* Estilo para ocultar la línea divisoria en tamaños md o menores */
@media (max-width: 768px) {
    .columna {
        border-right: none !important;
        padding-left: 0 !important;
        padding-bottom: 10px;
    }
}