/*El header tiene una altura automática y su color de letra*/
.navega {
    height: auto;
    color: #6f9387;
}

/*Tamaño del logo responsivo*/
.foto-logo {
    width: 15vh;
}

/*Estilo de los dropdown-menu del header*/
.dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #6f9387;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

/*Estilo de los elementos del dropdown-menu*/
.dropdown-menu a {
    color: #6f9387;
    padding: 9px 15px;
    text-decoration: none;
    display: block;
}

/*Estilo de los elementos del dropdown-menu cuando se pasa por encima*/
.dropdown-menu a:hover {
    background-color: #6f9387;
    color: white;
}

/*Estilo del simbolo del login*/
.fa-user {
    color: #6f9387;
}

.fa-user:hover {
    color: #043408;
}

/*Arreglo del simbolo del login para que esté centrado siempre*/
.navbar-nav .nav-item:last-child {
    display: flex;
    align-items: center;
}

/*Estilo del footer*/
footer {
    background-color: #6f9387;
    color: #031e05 !important;
}

footer a {
    text-decoration: none;
    display: block;
}

footer a:hover {
    color: #057505 !important;
}

/*Retoque del menú*/
.nav-link {
    color: inherit !important;
}

/*Efecto para los elementos del menú para cuando se pase por encima*/
.efecto-menu {
    position: relative;
}

.efecto-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6f9387;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.efecto-menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*Estilo del boton del collapse*/
.custom-toggler-icon {
    width: 5vh;
    height: 4vh;
    display: inline-block;
    color: #6f9387;
    text-align: center;
    line-height: 30px;
    font-size: 4vh
}

.navbar-collapse {
    text-align: center;
}

/*Estilo del contenido despues del menu*/
.fondo {
    height: auto;
    background-color: #6f9387;
    color: #031e05;
}

/*Estilo de los card*/
.card {
    background-color: #6f9387;
    color: #031e05;
}

.color-titulo {
    color: #031e05;
}

/*Estilo de los botones de ver mas*/
.btn-vermas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #043408;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #031e05;
}

/*Estilo de los botones de ver mas al pasar por encima*/
.btn-vermas:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #057505;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid white;
}

/*Retoque para que las fotos de los card tengan la misma altura y un borde*/
.custom-image {
    height: 15vh;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid #031e05;
}

/*Retoque para que los card-title tengan la misma altura y por lo tanto los card-text empiecen a la misma altura*/
.custom-card-title {
    min-height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Establece el número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Retoque para que en los card-text aparezca como mucho tres lineas y lo demás se oculte y los ver mas estén a la misma altura todos*/
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Establece el número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 5em;
}

/*El color que esté activo aparece marcado para ayudar visualmente a que no den al mismo en el que están*/
.dropdown-item.active {
    background-color: #6f9387;
    color: white;
}

/*Imagen de instalaciones*/
.img-instalaciones {
    transition: all .5s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.img-instalaciones:hover {
    filter: saturate(180%);
}

/*Texto de instalaciones*/
.texto-instalaciones {
    font-size: 1.2rem;
    color: #6f9387;
}

.titulo-instalaciones {
    font-size: 2.5rem;
    color: #043408;
    margin-bottom: 10px;
}

hr {
    margin: auto;
    width: 80%;
    color: #043408;
}

/* Estilo para el nombre de la directora */
.directora-nombre {
    font-size: 2.5rem;
    color: #043408;
    margin-bottom: 10px;
}

/* Estilo para el saludo de la directora */
.directora-saludo {
    font-size: 1.2rem;
    color: #6f9387;
}

/* Estilo para la imagen de la directora */
.directora-imagen {
    border: 2px solid #043408;
}

.columna {
    border-right: 1px solid #043408;
    padding-left: 5% !important;
}

/* Estilo para ocultar la línea divisoria en tamaños md o menores */
@media (max-width: 768px) {
    .columna {
        border-right: none !important;
        /* Importante para anular el estilo anterior */
        padding-left: 0 !important;
        /* Importante para anular el estilo anterior */
        padding-bottom: 10px;
    }
}