/*El header tiene una altura automática y su color de letra*/
.navega {
    height: auto;
    color: #8e44ad;
}

/*Tamaño del logo responsivo*/
.foto-logo {
    width: 25vh;
}

.letra-menu {
    font-size: 1.9vh;
}

/*Estilo de los dropdown-menu del header*/
.dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #8e44ad;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

/*Estilo de los elementos del dropdown-menu*/
.dropdown-menu a {
    color: #8e44ad;
    padding: 9px 15px;
    text-decoration: none;
    display: block;
}

/*Estilo de los elementos del dropdown-menu cuando se pasa por encima*/
.dropdown-menu a:hover {
    background-color: #8e44ad;
    color: #f2f2f2;
}

/*Estilo del simbolo del login*/
.fa-user {
    color: #8e44ad;
}

.fa-user:hover {
    color: #ffd700;
}

/*Arreglo del simbolo del login para que esté centrado siempre*/
.navbar-nav .nav-item:last-child {
    display: flex;
    align-items: center;
}

/*Estilo del footer*/
footer {
    background-color: #6b2c80;
    color: #f2f2f2 !important;
}

footer a {
    text-decoration: none;
    display: block;
}

footer a:hover {
    color: #ffd700 !important;
}

/*Retoque del menú*/
.nav-link {
    color: inherit !important;
}

/*Efecto para los elementos del menú para cuando se pase por encima*/
.efecto-menu {
    position: relative;
}

.efecto-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #ffd700;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.efecto-menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*Estilo del boton del collapse*/
.custom-toggler-icon {
    width: 5vh;
    height: 4vh;
    display: inline-block;
    color: #8e44ad;
    text-align: center;
    line-height: 30px;
    font-size: 4vh;
}

.centrar-toggler {
    justify-content: center !important;
}

.navbar-collapse {
    text-align: center;
}

/*Estilo del contenido despues del menu*/
.fondo {
    color: #f2f2f2;
    background-color: #8e44ad;
    /* Color de fondo */
}

.titulo-index {
    font-size: 3rem;
    font-weight: bold;
}

/*Estilo de los card*/
.card {
    background-color: #ffd700;
    color: #6b2c80;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Aplicamos flexbox con dirección vertical */
    justify-content: space-between;
    /* Espacio entre los elementos */
    height: 100%;
    border: 1px solid #6b2c80;
}

.color-titulo {
    color: #f2f2f2;
    font-size: 5vh;
}

.card-date {
    position: absolute;
    top: 0;
    right: 0;
    background: #6b2c80;
    color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 0 0 0 5px;
}

@media (max-width: 768px) {
    .card-date {
        position: absolute;
        top: 0;
        right: 0;
        background: #6b2c80;
        color: #f2f2f2;
        padding: 4px 8px;
        border-radius: 0 0 0 5px;
        font-size: 0.8rem;
    }
}

/*Estilo de los botones de ver mas*/
.btn-vermas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e44ad;
    color: #ffd700;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #6b2c80;
}

.btn-vertodas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #6b2c80;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #6b2c80;
}

/*Estilo de los botones de ver mas al pasar por encima*/
.btn-vermas:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6b2c80;
    color: #ffd700;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #6b2c80;
}

.btn-vertodas:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #CCAA00;
    color: #6b2c80;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #6b2c80;
}

.card-button {
    padding-bottom: 15px;
}

/*Retoque para que las fotos de los card tengan la misma altura y un borde*/
.custom-image {
    height: 15vh;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid #ffd700;
}

.card-title {
    height: 2rem;
}

/*Retoque para que en los card-text aparezca como mucho tres lineas y lo demás se oculte y los ver mas estén a la misma altura todos*/
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Establece el número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*El color que esté activo aparece marcado para ayudar visualmente a que no den al mismo en el que están*/
.dropdown-item.active {
    background-color: #8e44ad;
    color: #f2f2f2;
}

hr {
    margin: auto;
    width: 80%;
    color: #8e44ad;
}

@media (max-width: 768px) {
    .titulo-modal {
        margin-top: 2% !important;
        margin-bottom: 3% !important;
    }
}

.invisible-button {
    opacity: 0;
}

/*Estilo de las ventanas modales que salen al pulsar el ver más */
dialog {
    width: 80%;
    max-height: 80%;
    border-radius: 10px;
    border: 3px solid #6b2c80;
    color: #8e44ad;
    overflow-y: auto;
    background-color: #f2f2f2;
}

.custom-image-modal {
    border-radius: 10px;
    border: 1px solid #6b2c80;
    max-height: 15rem;
}

.custom-image-modal:hover {
    filter: saturate(180%);
}

.texto-modal {
    font-size: 1.2rem;
}

.nombre-contacto {
    font-size: 2.5rem;
    color: #8e44ad;
}

.texto-contacto {
    font-size: 1.5rem;
    color: #8e44ad;
}

.texto-horario {
    font-size: 1.2rem;
    color: #f2f2f2;
}

.borde-departamento {
    border: 1px solid #ffd700;
    border-radius: 10px;
    width: auto;
    background-color: #8e44ad;
}

.page-link {
    border: 1px solid #6b2c80;
}

.page-link:hover {
    border: 1px solid #ffd700;
}

.estilo-letra-paginacion {
    color: #8e44ad;
    background-color: #ffd700;
}

.estilo-letra-paginacion:hover {
    color: #ffd700;
    background-color: #8e44ad;
}

.active-paginacion {
    color: #ffd700;
    background-color: #8e44ad;
}

.active-paginacion:hover {
    color: #ffd700;
    background-color: #8e44ad;
}

/*Imagen de instalaciones*/
.img-instalaciones {
    transition: all .5s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 75vh;
}

.img-instalaciones:hover {
    filter: saturate(180%);
}

@media (max-width: 1200px) {
    .img-instalaciones {
        height: 325px;
    }
}

@media (max-width: 768px) {
    .img-instalaciones {
        height: 200px;
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffd700' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffd700' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}