/*El header tiene una altura automática y su color de letra*/
.navega {
    height: auto;
    color: #6f9387;
}

/*Tamaño del logo responsivo*/
.foto-logo {
    width: 15vh;
}

/*Estilo de los dropdown-menu del header*/
.dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #6f9387;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

/*Estilo de los elementos del dropdown-menu*/
.dropdown-menu a {
    color: #6f9387;
    padding: 9px 15px;
    text-decoration: none;
    display: block;
}

/*Estilo de los elementos del dropdown-menu cuando se pasa por encima*/
.dropdown-menu a:hover {
    background-color: #6f9387;
    color: white;
}

/*Estilo del simbolo del login*/
.fa-user {
    color: #6f9387;
}

.fa-user:hover {
    color: #043408;
}

/*Arreglo del simbolo del login para que esté centrado siempre*/
.navbar-nav .nav-item:last-child {
    display: flex;
    align-items: center;
}

/*Estilo del footer*/
footer {
    background-color: #6f9387;
    color: #031e05 !important;
}

footer a {
    text-decoration: none;
    display: block;
}

footer a:hover {
    color: #057505 !important;
}

/*Retoque del menú*/
.nav-link {
    color: inherit !important;
}

/*Efecto para los elementos del menú para cuando se pase por encima*/
.efecto-menu {
    position: relative;
}

.efecto-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6f9387;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.efecto-menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*Estilo del boton del collapse*/
.custom-toggler-icon {
    width: 5vh;
    height: 4vh;
    display: inline-block;
    color: #6f9387;
    text-align: center;
    line-height: 30px;
    font-size: 4vh
}

.navbar-collapse {
    text-align: center;
}

/*Estilo del contenido despues del menu*/
.fondo {
    color: #031e05;
    background-color: #6f9387;
    /* Color de fondo */
}

.titulo-index {
    font-size: 3rem;
    font-weight: bold;
}

/*Estilo de los card*/
.card {
    background-color: #6f9387;
    color: #031e05;
    position: relative;
    display: flex;
    flex-direction: column; /* Aplicamos flexbox con dirección vertical */
    justify-content: space-between; /* Espacio entre los elementos */
    height: 100%;
}

.color-titulo {
    color: #031e05;
    font-size: 2.5rem;
}

.card-date {
    position: absolute;
    top: 0;
    right: 0;
    background: #6f9387;
    color: #031e05;
    padding: 5px 10px;
    border-radius: 0 0 0 5px;
}

/*Estilo de los botones de ver mas*/
.btn-vermas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #043408;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #031e05;
}

/*Estilo de los botones de ver mas al pasar por encima*/
.btn-vermas:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #057505;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid white;
}

.card-button {
    padding-bottom: 15px;
}

/*Retoque para que las fotos de los card tengan la misma altura y un borde*/
.custom-image {
    height: 15vh;
    object-fit: cover;
    width: 100%;
    border-bottom: 1px solid #031e05;
}

.card-title {
    height: 2rem;
}

/*Retoque para que en los card-text aparezca como mucho tres lineas y lo demás se oculte y los ver mas estén a la misma altura todos*/
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Establece el número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*El color que esté activo aparece marcado para ayudar visualmente a que no den al mismo en el que están*/
.dropdown-item.active {
    background-color: #6f9387;
    color: white;
}

hr {
    margin: auto;
    width: 80%;
    color: #043408;
}

@media (max-width: 768px) {
    .titulo-modal {
        margin-top: 2% !important;
        margin-bottom: 3% !important;
    }
}

/*Estilo de las ventanas modales que salen al pulsar el ver más */
dialog {
    width: 80%;
    max-height: 80%;
    border-radius: 10px;
    border: 3px solid #043408;
    color: #043408;
    overflow-y: auto;
}

.custom-image-modal {
    border-radius: 10px;
    border: 1px solid #6f9387;
}

.custom-image-modal:hover {
    filter: saturate(180%);
}

/*Estilo tablas resultados y clasificaciones*/
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    background-color: #043408;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    appearance: none;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #043408;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.titulo3 {
    font-size: 1.2em !important;
}

th,
td {
    border: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #079907;
}

tbody tr:nth-child(even) {
    background-color: #057505;
}

.tabla-vacio {
    border-left: none;
    border-right: none;
}

.nombre-contacto {
    font-size: 2.5rem;
    color: #043408;
}

.texto-contacto {
    font-size: 1.5rem;
    color: #6f9387;
}

.texto-horario {
    font-size: 1.2rem;
    color: white;
}

.borde-departamento {
    border: 1px solid #043408;
    border-radius: 10px;
    width: auto;
    background-color: #6f9387;
}

.actividad {
    background-color: #E7F2EB;
    transition: background-color 0.5s ease;
}

.actividad:hover {
    background-color: #B8D3C8;
}

.borde-actividad {
    border: 1px solid #043408;
    border-radius: 10px;
    width: auto;
}

.img-actividades {
    border-radius: 10px;
    max-height: 500px;
}