/*Imagen de instalaciones*/
.img-instalaciones {
    transition: all .5s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 450px;
}

@media (max-width: 1200px) {
    .img-instalaciones {
        height: 325px;
    }
}

@media (max-width: 768px) {
    .img-instalaciones {
        height: 200px;
    }
}

.img-instalaciones:hover {
    filter: saturate(180%);
}

/*Texto de instalaciones*/
.texto-instalaciones {
    font-size: 1.2rem;
    color: #6f9387;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236f9387' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236f9387' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}