body {
    background-image: url(../../public/images/LA_GALATEA_grande.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.login-container {
    width: 40%;
    margin: 0 auto;
    background-color: #f5e1da;
    color: #004d40;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .login-container {
        width: 80%;
    }
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #004d40;
    border-radius: 4px;
}

.login-container input[type="submit"] {
    background-color: #004d40;
    color: #f5e1da;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.login-container input[type="submit"]:hover {
    background-color: #ff99cc;
    color: #004d40;
}

a {
    text-decoration: none;
}

select {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #004d40;
    border-radius: 4px;
}

p.error-feedback {
    color: red;
    font-size: small;
    margin: 0;
}

.error>input {
    border-color: red;
}