/*Imagen de instalaciones*/
.img-instalaciones {
    transition: all .5s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50vh !important;
}

@media (max-width: 992px) {
    .img-instalaciones {
        height: 20vh !important;
    }
}

.img-instalaciones:hover {
    filter: saturate(180%);
}

/*Texto de instalaciones*/
.texto-instalaciones {
    font-size: 1.2rem;
    color: #f5e1da;
} 