/*Estilo tablas resultados y clasificaciones*/
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    background-color: #ff99cc;
    color: #004d40;
    padding: 10px;
    border: none;
    border-radius: 5px;
    appearance: none;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ff99cc;
    color: #004d40;
    border: 1px solid #004d40;
    border-radius: 5px;
}

th,
td {
    border: 1px solid #004d40;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f5e1da;
}

tbody tr:nth-child(even) {
    background-color: #fbd3e3;
}

.tabla-vacio {
    border-left: none;
    border-right: none;
}

.ancho-columna {
    width: 3%;
}